extends ../layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/portfolio') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9
        h1= "Please look at the sample.txt file which is in the project to see the result"
        