extends ./layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9
        h1= title
        p Welcome to #{title}
        p
            a(href="/auth/login") SignIn